<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, velit repellendus. Veniam vitae numquam provident et officia omnis excepturi similique deserunt tempora dolor dignissimos eligendi nesciunt quasi suscipit sint repudiandae eos ipsum amet harum, eius delectus necessitatibus. Perspiciatis veniam reprehenderit quaerat illo ratione rem tenetur cum eum sed fugit? Libero.</p>

<%- include("footer") -%>
